<ion-view view-title="Sign In">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-positive" ng-click="login()">Login</button>

        <button class="button button-positive" ng-click="signUpPage()">SignUp</button>
    </div>
</ion-view>